In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv('C:/Users/jose.nino/Documents/SisbénIIICeroACinco/SisbénIIICeroACinco.csv', sep="|", engine='python',encoding='latin1', nrows=10000)

In [7]:
df.tipoesta.value_counts()

0    9219
2     367
4     247
1     133
3      21
5      12
7       1
Name: tipoesta, dtype: int64

In [21]:
df.head(2)

,ficha,depmuni,depto,munic,zona,sector,seccion,manzana,comuna,barrio,nombarrio,vereda,nomvereda,direcc,teles,vivienda,pared,piso,energia,alcanta,gas,telefono,basura,acueduc,estrato,elimbasura,tcuartosvi,thogar,hogar,teneviv,tcuartos,tdormir,sanitar,usanitar,usosani,tsanitar,ducha,agua,llega,cuandi,suminis,cuanhoras,preparan,cocina,cocinan,alumbra,usotele,nevera,lavadora,tvcolor,tvcable,calenta,horno,aire,computador,equipo,moto,tractor,auto1,bieraices,tpersona,recolec,fecha,orden,ape1,ape2,nom1,nom2,sexo,extranjero,tipodoc,documen,fechanto,parentes,estcivil,conyuviv,hijosde,serdomes,pagapor,discapa,carnet,embaraza,asiste,tipoesta,grado,nivel,activi,buscando,percibe,ingresos,area,edad,edadc,fecham,fechamodp,id_reg,marca,nparentes,puntaje,nomdepto,nommunic,NPB_PPSAM,PB_IcbfPI,PB_MinEduca,estado,Munic_PreS4,Puntaje_PreS4,count
0,5249664,11001,11,1,1,4535,35,41,8,4535,CLASS,0,BARRIO ZONA URBANA,KR 80 I 57 H 23 SUR CU 1,0,2,1,3,1,1,1,2,1,1,2,1,1,1,1,1,1,1,1,1,2,1,1,1,1,0,1,0,1,2,2,1,0,1,2,1,1,2,2,2,2,2,2,2,2,2,4,2,20180906,4,PINEDA,ZULUAGA,SARA,VALENTINA,2,2,4,1.146140e+09,20170219,3,5,0,0,2,2,0,3,2,2,0,0,0,0,0,1,103000.0,1,1,3,20180910,20180910,31,0,3,"25,87",BOGOTA,BOGOTA D.C.,1,1,1,0,NaN,NaN,1
1,5278363,11001,11,1,1,4609,9,85,8,4609,LOS ALMENDROS,0,BARRIO ZONA URBANA,KR 97 C 42 38 SUR PI 1,0,1,1,2,1,1,1,2,1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,1,2,1,0,1,2,1,1,2,2,2,2,2,2,2,2,2,4,2,20181102,4,DIAZ,GARCIA,ERICK,SANTIAGO,1,2,4,1.012451e+09,20160301,11,5,0,3,2,2,0,4,2,2,0,0,0,0,0,2,0.0,1,2,4,20181108,20181108,37,0,3,"41,39",BOGOTA,BOGOTA D.C.,0,1,1,0,NaN,NaN,1

In [5]:
df["count"] = 1

In [6]:
pd.pivot_table(df,index="edad",columns="tipoesta", values="count", aggfunc=np.sum)

tipoesta        0      1      2     3       4     5    7
edad
0         33023.0   10.0   11.0   4.0    27.0   2.0  NaN
1         14931.0   86.0   96.0   3.0    26.0   2.0  NaN
2         13614.0  238.0  277.0  27.0    35.0   NaN  NaN
3         12209.0  321.0  509.0  66.0    45.0   1.0  NaN
4         10621.0  318.0  589.0  94.0   349.0  43.0  NaN
5         10082.0  147.0  708.0  77.0  1325.0  83.0  1.0

In [7]:
df["fecha"] = pd.to_datetime(df["fecha"].astype(str), format="%Y%m%d")
df["fecham"] = pd.to_datetime(df["fecham"].astype(str), format="%Y%m%d")
df["fechamodp"] = pd.to_datetime(df["fechamodp"].astype(str), format="%Y%m%d")
df["fechanto"] = pd.to_datetime(df["fechanto"].astype(str), format="%Y%m%d")

In [8]:
df["agno_encuesta"] = df["fecha"].dt.year

In [47]:
df.head(5)

,ficha,depmuni,depto,munic,zona,sector,seccion,manzana,comuna,barrio,nombarrio,vereda,nomvereda,direcc,teles,vivienda,pared,piso,energia,alcanta,gas,telefono,basura,acueduc,estrato,elimbasura,tcuartosvi,thogar,hogar,teneviv,tcuartos,tdormir,sanitar,usanitar,usosani,tsanitar,ducha,agua,llega,cuandi,suminis,cuanhoras,preparan,cocina,cocinan,alumbra,usotele,nevera,lavadora,tvcolor,tvcable,calenta,horno,aire,computador,equipo,moto,tractor,auto1,bieraices,tpersona,recolec,fecha,orden,ape1,ape2,nom1,nom2,sexo,extranjero,tipodoc,documen,fechanto,parentes,estcivil,conyuviv,hijosde,serdomes,pagapor,discapa,carnet,embaraza,asiste,tipoesta,grado,nivel,activi,buscando,percibe,ingresos,area,edad,edadc,fecham,fechamodp,id_reg,marca,nparentes,puntaje,nomdepto,nommunic,NPB_PPSAM,PB_IcbfPI,PB_MinEduca,estado,Munic_PreS4,Puntaje_PreS4,count,agno_encuesta
0,5249664,11001,11,1,1,4535,35,41,8,4535,CLASS,0,BARRIO ZONA URBANA,KR 80 I 57 H 23 SUR CU 1,0,2,1,3,1,1,1,2,1,1,2,1,1,1,1,1,1,1,1,1,2,1,1,1,1,0,1,0,1,2,2,1,0,1,2,1,1,2,2,2,2,2,2,2,2,2,4,2,2018-09-06,4,PINEDA,ZULUAGA,SARA,VALENTINA,2,2,4,1.146140e+09,2017-02-19,3,5,0,0,2,2,0,3,2,2,0,0,0,0,0,1,103000.0,1,1,3,2018-09-10,2018-09-10,31,0,3,"25,87",BOGOTA,BOGOTA D.C.,1,1,1,0,NaN,NaN,1,2018
1,5278363,11001,11,1,1,4609,9,85,8,4609,LOS ALMENDROS,0,BARRIO ZONA URBANA,KR 97 C 42 38 SUR PI 1,0,1,1,2,1,1,1,2,1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,1,2,1,0,1,2,1,1,2,2,2,2,2,2,2,2,2,4,2,2018-11-02,4,DIAZ,GARCIA,ERICK,SANTIAGO,1,2,4,1.012451e+09,2016-03-01,11,5,0,3,2,2,0,4,2,2,0,0,0,0,0,2,0.0,1,2,4,2018-11-08,2018-11-08,37,0,3,"41,39",BOGOTA,BOGOTA D.C.,0,1,1,0,NaN,NaN,1,2018
2,5283164,11001,11,1,1,2444,44,52,19,2444,SIERRA MORENA II,0,BARRIO ZONA URBANA,TV 58 74 63 SUR,0,1,1,2,1,1,1,2,1,1,1,1,4,1,1,1,4,2,1,1,1,1,1,1,1,0,1,0,1,1,2,1,0,1,1,1,1,1,2,2,2,2,2,2,2,2,5,2,2018-11-14,4,VARGAS,PULIDO,JUAN,ESTEBAN,1,2,4,1.220225e+09,2017-09-17,3,5,0,0,2,2,0,3,2,2,0,0,0,0,0,2,0.0,1,1,3,2018-11-16,2018-11-16,38,0,3,"68,34",BOGOTA,BOGOTA D.C.,0,0,0,0,NaN,NaN,1,2018
3,5249610,11001,11,1,1,1423,23,60,18,1423,ARBOLEDA SUR,0,BARRIO ZONA URBANA,KR 13 BIS A 49 F 48 SUR PI 1,0,1,1,2,1,1,1,2,1,1,1,1,2,2,1,1,1,1,1,1,2,1,1,1,1,0,1,0,1,2,2,1,0,1,2,2,2,2,2,2,2,2,2,2,2,2,5,2,2018-09-07,5,ORTIZ,BANDERA,SALOME,NaN,2,2,4,1.033790e+09,2014-04-10,3,5,0,0,2,2,0,4,2,1,2,0,0,3,0,2,0.0,1,4,6,2018-09-10,2018-09-10,43,0,3,"33,67",BOGOTA,BOGOTA D.C.,1,1,1,0,NaN,NaN,1,2018
4,5283171,11001,11,1,1,2433,33,18,19,2433,EL PENON DEL CORTIJO,0,BARRIO ZONA URBANA,CL 68 BIS SUR 71 G 65 PI 2,7129820,1,1,2,1,1,1,1,1,1,2,1,4,1,1,1,4,3,1,1,1,2,1,1,1,0,1,0,1,1,2,1,1,1,1,1,1,2,1,2,1,1,2,2,2,2,7,2,2018-11-15,4,BUITRAGO,PINZON,ALAN,SNEIDER,1,2,4,1.029291e+09,2013-05-31,4,5,0,3,2,2,0,3,2,1,4,0,0,3,0,2,0.0,1,5,7,2018-11-17,2018-11-17,115,0,3,"66,82",BOGOTA,BOGOTA D.C.,0,0,0,0,NaN,NaN,1,2018

In [9]:
freq = df.agno_encuesta.value_counts()
print (freq/len(df.agno_encuesta))

2019    0.42303
2010    0.20300
2012    0.07360
2011    0.05468
2013    0.04608
2009    0.03501
2014    0.03218
2015    0.02971
2018    0.02774
2017    0.02739
2016    0.02510
2020    0.02229
2008    0.00019
Name: agno_encuesta, dtype: float64

In [5]:
def freq_sisben():
    df = pd.read_csv('C:/Users/jose.nino/Documents/SisbénIIICeroACinco/SisbénIIICeroACinco.csv', sep="|", engine='python',encoding='latin1')
    df = df[["fecha", "edad", "tipoesta", "ficha", "orden", "documen"]]
    df["fecha"] = pd.to_datetime(df["fecha"].astype(str), format="%Y%m%d")
    df["agno_encuesta"] = df["fecha"].dt.year
    return df

In [5]:
count=0
result_fecha = pd.Series()
result_fecham = pd.Series()

for df in pd.read_csv("C:/Users/jose.nino/Documents/SisbénIIICeroACinco/SisbénIIICeroACinco.csv", sep="|", engine='python',encoding='latin1',chunksize=100000):
    df["fecha"] = pd.to_datetime(df["fecha"].astype(str), format="%Y%m%d", errors="coerce")
    df["fecham"] = pd.to_datetime(df["fecham"].astype(str), format="%Y%m%d", errors="coerce")

    df["agno_encuesta"] = df["fecha"].dt.year
    df["agno_encuestam"] = df["fecham"].dt.year

    result_fecha = result_fecha.append(df.agno_encuesta.value_counts())
    result_fecham = result_fecham.append(df.agno_encuestam.value_counts())

    print("Muestreo: ", count)
    count +=1

print(len(result_fecha))
print(len(result_fecham))

Muestreo:  0
Muestreo:  1
Muestreo:  2
Muestreo:  3
Muestreo:  4
Muestreo:  5
Muestreo:  6
Muestreo:  7
Muestreo:  8
Muestreo:  9
Muestreo:  10
Muestreo:  11
Muestreo:  12
Muestreo:  13
Muestreo:  14
Muestreo:  15
Muestreo:  16
Muestreo:  17
Muestreo:  18
Muestreo:  19
Muestreo:  20
Muestreo:  21
Muestreo:  22
Muestreo:  23
Muestreo:  24
Muestreo:  25
Muestreo:  26
Muestreo:  27
Muestreo:  28
Muestreo:  29
Muestreo:  30
Muestreo:  31
Muestreo:  32
Muestreo:  33
Muestreo:  34
Muestreo:  35
Muestreo:  36
Muestreo:  37
Muestreo:  38
Muestreo:  39
Muestreo:  40
Muestreo:  41
Muestreo:  42
Muestreo:  43
Muestreo:  44
Muestreo:  45
Muestreo:  46
Muestreo:  47
Muestreo:  48
Muestreo:  49
Muestreo:  50
Muestreo:  51
Muestreo:  52
Muestreo:  53
Muestreo:  54
Muestreo:  55
Muestreo:  56
747
755

In [3]:
result.groupby(result.index).sum()

1969.0        114
1970.0        276
2007.0          1
2008.0       6077
2009.0    1424004
2010.0     636984
2011.0     304960
2012.0     352767
2013.0     282560
2014.0     251080
2015.0     221983
2016.0     200410
2017.0     382761
2018.0     544744
2019.0     932960
2020.0     113640
2024.0          3
dtype: int64

In [6]:
freq = result_fecha.groupby(result_fecha.index).sum()
r_freq = (freq/result_fecha.sum()*100)
table = pd.concat([freq,r_freq], axis=1)
table = table.rename(columns={0: "Freq absoluta", 1: "Freq relativa"})
table.index = table.index.astype(int)
table["Freq relativa"] = table["Freq relativa"].round(2)
print(table)

      Freq absoluta  Freq relativa
1969            114           0.00
1970            276           0.00
2007              1           0.00
2008           6077           0.11
2009        1424004          25.18
2010         636984          11.26
2011         304960           5.39
2012         352767           6.24
2013         282560           5.00
2014         251080           4.44
2015         221983           3.93
2016         200410           3.54
2017         382761           6.77
2018         544744           9.63
2019         932960          16.50
2020         113640           2.01
2024              3           0.00

In [7]:
freqm = result_fecham.groupby(result_fecham.index).sum()
r_freqm = (freqm/result_fecham.sum()*100)
tablem = pd.concat([freqm,r_freqm], axis=1)
tablem = tablem.rename(columns={0: "Freq absoluta", 1: "Freq relativa"})
tablem.index = tablem.index.astype(int)
tablem["Freq relativa"] = tablem["Freq relativa"].round(2)
print(tablem)

      Freq absoluta  Freq relativa
1969             10           0.00
1970             73           0.00
1980              1           0.00
2001            103           0.00
2002             40           0.00
2003              1           0.00
2004             12           0.00
2005              4           0.00
2006              2           0.00
2007             21           0.00
2008            317           0.01
2009         104724           1.85
2010         180778           3.20
2011         102601           1.81
2012         161015           2.85
2013         200606           3.55
2014         244146           4.32
2015         318745           5.64
2016         448565           7.93
2017         749714          13.26
2018        1035757          18.31
2019        1621787          28.68
2020         486297           8.60
2022              4           0.00
2037              1           0.00
2118              1           0.00